.body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 0 0 20px;
    background-color: black;
}

h1 {
    padding: 15px 0 0 20px;
    display: flex;
    color: tan;
    font-family: "Times New Roman", Times, serif;
    
}

.about {
    display: flex;
    font-family: "Times New Roman", Times, serif;
    color: tan;
}

